.article {
    padding: 20px;
    margin-bottom: 25px;
    min-height: 520px;
}

article img {
    height: 500px;
}

.article + hr {
    clear: both;
}

.comments {
    clear: both;
    padding: 20px;
}

.comments h3 {
    font-size: 20px;
}

.addComment {
    width: 100%;
}
.addComment div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#username, #email {
    width: 49.5%;
    height: 30px;
}

.addComment textarea {
    width: 100%;
    min-height: 250px;
    resize: none;
    margin-bottom: 7px;
}

.addComment button {
    height: 30px;
    width: 200px;
    appearance: none;
    border: 1px solid grey;
}

.addComment button:hover {
    background-color: rgb(181, 179, 179);
    transition: background .5s;
}

.comment {
 margin: 20px 0;
 padding-left: 20px;
 width: 60%;
}

.comment p {
    margin: 0;
}

.comment .author {
    font-size: 18px;
    font-weight: bold;
}


#spinner {
    position: relative;
    height: 60px;
    margin: 20px 0;
}
